// navigation
$navigation-color: rgba(19, 21, 26, 0.97);

// buttons
$button-text-color: rgb(114, 114, 114);
$button-text-color-hover: rgb(198, 198, 198);
$button-color: rgba(36, 50, 79, 0.341);
$button-color-hover: rgba(36, 50, 79, 0.655);
$button-glow-hover: rgba(36, 50, 79, 0.341);
$button-radius: 0.6em;
$button-padding: 0.8em;

// server list
$server-list-color: rgba(21, 25, 34, 0.341);
$server-color: rgb(26,26,26);
$server-logo-background: rgb(22,24,29);
$server-logo-border: 1px solid rgba(103, 105, 109, 0.1);
$server-logo-border-radius: 0.5em;

// reactions
$reaction-color: rgba(255, 255, 255, 0.03);
$reaction-color-hover: rgba(255, 255, 255, 0.04);
$reaction-border: 1px solid rgba(255, 255, 255, 0.0);
$reaction-border-hover: 1px solid rgba(255, 255, 255, 0.04);
$reaction-border-radius: 0.2em;
$reaction-padding: 0.4em;

// add reaction
$add-reaction-color: rgb(25, 27, 33);
$add-reaction-color-hover: rgb(27, 32, 42);
$add-reaction-border: 1px solid rgba(255, 255, 255, 0.0);
$add-reaction-border-hover: 1px solid rgb(32, 37, 50);